body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.avatar {
    width: 150px;
}

.card {
    width: 350px;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ebebff;
    color: #2b2839;
    
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
    periwnkle: #adb2d3
    savoy blue: #5f69ab
     */
}

img{
    border-radius: 100px;
    border: 1px solid #dcdfe4;
}


/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

